<app-basetable (dataEmitter) = "dataReceived($event)" [apiMethod] = "apiMethod" >

  <caption>Events</caption>
  <thead>
  <tr>
    <th>Id</th>
    <th>date</th>
    <th>party_name</th>
    <th>location/zip_code</th>
    <th>tables/bottles</th>
    <th>tickets</th>
    <th>club_name/club_capacity</th>
    <!--<th>Delete</th>-->

  </tr>

  </thead>
  <tbody>
  <tr *ngFor="let event of events.items">
    <td>{{event.id_event}}</td>
    <td>{{event.date}}</td>
    <td>{{event.party_name}}</td>
    <td>{{event.location}}/{{event.zip_code}}</td>
    <td>{{event.tables.length}}/{{event.bottles.length}}</td>
    <td>{{event.tickets.length}}</td>
    <td>{{event.club_name}}/{{event.club_capacity}}</td>
    <!--<td><button class="btn btn-danger" (click)="deleteEvent(event)">Delete</button></td>-->


  </tr>
  </tbody>
</app-basetable>
