.login {
  margin-top: 20%;
}

.set-logo {
  background: #fff;
  color: #ddd;
  border-radius: 500%;
  padding: 11px;
  font-size: 108px;
  border: solid #ddd 14px;
}

.logo {
  margin-top: 27px;
  margin-bottom: 54px;
}

.last-row {
  margin-bottom: 0px;
}

.checklabel {
  font-weight: 100;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}


.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

