<!--<app-header></app-header>-->
<!--&lt;!&ndash; Main &ndash;&gt;-->
<!--<div class="container">-->

  <!--&lt;!&ndash; upper section &ndash;&gt;-->
  <!--<div class="row">-->
    <!--<div class="col-sm-2">-->
      <!--<app-sidebar></app-sidebar>-->
    <!--</div>&lt;!&ndash; /span-3 &ndash;&gt;-->

    <!--<div class="col-sm-10">-->

      <router-outlet></router-outlet>
    <!--</div>&lt;!&ndash;/col-span-9&ndash;&gt;-->

  <!--</div>&lt;!&ndash;/row&ndash;&gt;-->



<!--</div>&lt;!&ndash;/container&ndash;&gt;-->
<!--&lt;!&ndash; /Main &ndash;&gt;-->


<!--<app-footer></app-footer>-->
