<h3><i class="glyphicon glyphicon-cog"></i> Account settings</h3>
<hr>

<div class="panel panel-success">
  <div class="panel-heading">Your info</div>
  <div class="panel-body">Current email: {{currentEmail}}</div>
</div>


<div class="panel panel-danger">
  <div class="panel-heading">Edit info</div>
  <div class="panel-body">
  <div class="row">
    <strong class="col-md-2">
      Email:
    </strong>
    <div class="col-md-7">
      <input class="form-control" [(ngModel)] = "newEmail" placeholder="Input new email here" type="text">
    </div>
    <div class="col-md-2">
      <button class="btn btn-warning" (click)="setNewEmail()" type="button">Set new email</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <strong class="col-md-12 text-center">
      <button class="btn btn-danger " (click)="setNewPassword()" type="button">Reset password</button>
    </strong>


  </div>
<p class="text-center"><i class="glyphicon glyphicon-question-sign"></i> Relogin after submitting new password from email (link to change password will be sent at your current email)</p>
</div>
</div>
