<!-- left -->
<h3><i class="glyphicon glyphicon-briefcase"></i> Menu</h3>
<hr>

<ul class="nav nav-stacked">
  <li><a routerLink="events" routerLinkActive="active"><i class="glyphicon glyphicon-equalizer"></i> All events</a></li>
  <li><a routerLink="users/goers" routerLinkActive="active"><i class="glyphicon glyphicon-user"></i> All party goers</a></li>
  <li><a routerLink="users/promoters" routerLinkActive="active"><i class="glyphicon glyphicon-user"></i> All promoters</a></li>
  <li><a routerLink="commercial" routerLinkActive="active"><i class="glyphicon glyphicon-credit-card"></i> Commercial settings</a></li>
  <li><a routerLink="profile" routerLinkActive="active"><i class="glyphicon  glyphicon-cog"></i> Account settings</a></li>
  <li><a routerLink="help" routerLinkActive="active"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>

</ul>

<hr>
